body {
    margin: 0;
    padding: 0;
    font-family: 'Helmet', sans-serif;
}

body.modal-open {
    overflow: hidden;
}

header {
    background-color: #0000ff;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 2vw;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.budget__section {
    padding: 1vw;
    width: 75%;
    margin: 1vw;
    border: 1px solid gray;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px #0000005d;
    border-radius: 1vw;
}

.input__budget {
    width: 60%;
}

.item__description,
.item__date,
.item__category,
.item__amount,
.submit__data,
.close__modalIcon {
    font-size: 1vw;
}

.item__description,
.item__date,
.item__category,
.item__amount,
.display__budget,
.budget__balance,
.budget__stateTitle,
header,
.modal__activitiesTitle,
.expense__label,
.total__expenses,
.expense__descriptionTitle {
    font-size: 1.5vw;
}

.modal__title {
    font-size: 2vw;
}

.budget__title,
.expenses__title {
    font-size: 2.5vw;
}

.select__activity {
    width: 15vw;
    margin-bottom: 2vw;
}

.activities__section {
    padding: 1vw;
    width: 75%;
    margin: 1vw;
    border: 1px solid gray;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px #0000005d;
    border-radius: 1vw;
}

.submit__data, .submit__budget, .new__categoryButton {
    width: 20vw;
    height: 3vw;
    background-color: #0000ff;
    color: #ffffff;
    border-radius: 1vw;
}

.div__buttonSubmitData {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1vw;
    width: fit-content;
}

.form2 {
    display: flex;
    flex-direction: column;
}

.selectors {
    line-height: 2vw;
}

.reset__icon {
    position: fixed;
    left: 88vw;
    top: .1vw;
    background-color: #777777;
    color: #ffffff;
    padding: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    transition: all .25s ease;
    text-align: center;
}

.reset__icon:hover {
    transform: scale(1.1);
}

.add__expenseIcon {
    background-color: #0000ff;
    color: #ffffff;
    font-size: 5vw;
    font-weight: 600;
    width: 6vw;
    text-align: center;
    border-radius: 50%;
    padding: 1vw;
    position: fixed;
    left: 88vw;
    bottom: .1vw;
    box-shadow: 10px 5px 5px #0000005d;
    transition: all .25s ease;
    cursor: pointer;
}

.add__expenseIcon:hover {
    transform: scale(1.1);
}

.div__expensesHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between  ;
}

.div_expenseDescription {
    display: flex;
    flex-direction: column;
}

.expense__description {
    margin-bottom: 2vw;
}

.expense__value {
    width: 15vw;
}

.expense__label {
    width: 3vw;
}

.div_backModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__section {
    display: none;
    background-color: #ffffff;
    border: 10px solid #0000ff;
    border-radius: 2vw;
    padding: 1vw;
    width: 40vw;
}

.close__modalIcon {
    text-align: right;
    margin-right: 2vw;
    background-color: #ff0000;
    color: #ffffff;
    padding: 1vw;
    width: fit-content;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px #0000005d;
    transition: all .25s ease;
    cursor: pointer;
}

.close__modalIcon:hover {
    transform: scale(1.1);
}

.show {
    display: block;
}

.showFlex {
    display: flex;
}


.hide {
    display: none;
}

.expense_item {
    border: 1px solid #000000;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 10px 5px 5px #0000005d;
    margin: 1vw;
    background-color: #e9e9e9;
}

.divItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divIcons {
    display: flex;
    gap: 10px;
    align-content: right;
    /* Espacio entre los iconos */
}

.item__id {
    display: none;
}

.item__delete {
    margin: .5vw;
    padding: .5vw;
    background-color: #ff0000;
    color: #ffffff;
    font: bold;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 1vw;
}

.item__edit {
    margin: .5vw;
    padding: .5vw;
    background-color: #ffffff;
    color: #000000;
    font: bold;
    border: 1px solid #000000;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 1vw;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.progress-icon {
    font-size: 3vw;
}

.progress-bar {
    width: 10vw;
    height: 2vw;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    background-color: #009b00;
    width: 0%;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

#progress-percent {
    font-size: 2vw;
}

.div__chart {
    width: 30%;
}

.div__newCategory {
    border: 1px solid #000000;
    border-radius: 1vw;
    padding: 1vw;
}

.div__newCategory p {
    font-size: .7vw;
    line-height: 1;
    margin: 0;
}

.expenses__chart {
    width: 50%;
}

.chart__section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.div__chart {
    display: none;
    background-color: #ffffff;
    border: 10px solid #0000ff;
    border-radius: 2vw;
    padding: 1vw;
    width: 25%;
}

.close__chartIcon {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 1vw;
    padding: 1vw;
    width: fit-content;
    cursor: pointer;
    transition: all .25s ease;
}

.close__chartIcon:hover {
    transform: scale(1.1);
}

.show__chartIcon {
    position: fixed;
    left: 90vw;
    top: 5vw;
    background-color: #777777;
    color: #ffffff;
    padding: 1vw;
    border-radius: 1vw;
    cursor: pointer;
    transition: all .25s ease;
    text-align: center;
    width: 4vw;
    transition: all .25s ease;
}

.show__chartIcon:hover {
    transform: scale(1.1);
}

.showChart {
    display: block;
}

.showBackChart {
    display: flex;
}

.chart__icon {
    position: fixed;
    left: 88vw;
    top: 25vw;
    fill: #fff;
    width: 3vw;
    background-color: #0000ff;
    padding: 2.5vw;
    border-radius: 50%;
    cursor: pointer;
    transition: all .25s ease;
}

.chart__icon:hover {
    transform: scale(1.1);
}

.close__modalFilteredExpensesIcon {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 1vw;
    padding: 1vw;
    width: fit-content;
    cursor: pointer;
    transition: all .25s ease;
}

.close__modalFilteredExpensesIcon:hover {
    transform: scale(1.1);
}

.expense_filtered {
    border: 1px solid #000000;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 10px 5px 5px #0000005d;
    margin: 1vw;
    background-color: #e9e9e9;
}

.div__FilteredItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__expensesFilteredByCategory {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.div__toCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.div__backFilteredExpenses {
    display: none;
    background-color: #ffffff;
    border: 10px solid #0000ff;
    border-radius: 2vw;
    padding: 1vw;
    width: 80%;
    height: 90%;
    max-height: 150vw;
    overflow: auto;
}

.showFilteredModal {
    display: flex;
}

.showBackFilteredModal {
    display: flex;
    flex-direction: column;
}

.div__IconCloseExpensesTotal {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.div__resetAppQuestion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.div__titleAndButtonResetApp {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 10px solid #0000ff;
    border-radius: 2vw;
    padding: 1vw;
    width: 40%;
}

.reset__buttonNo, .reset__buttonYes {
    margin: 1vw;
    padding: 1vw 6vw 1vw 6vw;
    background-color: #0000ff;
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 1vw;
    cursor: pointer;
    transition: all .25s ease;
    font-size: 1.5vw;
}

.reset__buttonNo:hover, .reset__buttonYes:hover {
    transform: scale(1.1);
}

.showQuestion {
    display: flex;
}

@media (max-width: 600px) {
    .modal__section {
        width: 80vw;
    }

    .submit__data,
    .submit__budget,
    .reset__icon {
        font-size: 2vw;
    }

    .item__description,
    .item__date,
    .item__category,
    .item__amount,
    .budget__stateTitle,
    header,
    .modal__activitiesTitle,
    .expense__label,
    .expense__descriptionTitle {
        font-size: 2.5vw;
    }

    .item__delete, 
    .item__edit,
    .modal__title, 
    .over__budget,
    span {
        font-size: 3vw;
    }

    .total__expenses,
    .item__description,
    .item__category,
    .item__amount,
    .item__date,
    .display__budget,
    .budget__balance,
    .close__modalIcon {
        font-size: 3.5vw;
    }

    .budget__title,
    .expenses__title {
        font-size: 4vw;
    }

    .divItem {
        display: flex;
        flex-direction: column;
    }

    .item__description,
    .item__date,
    .item__category,
    .item__amount {
        margin: 1px;
    }

    .budget__section {
        width: 90%;
    }

    .div__chart {
        width: 80%;
    }

    .activities__section {
        width: 90%;
    }

    .div__dateRange {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .div__dateRange input {
        margin: 1vw;
    }

    .show__chartIcon {
        font-size: 3vw;
        width: fit-content;
        left: 77vw;
        top: 1vw;
    }

    .chart__section h2 {
        font-size: 4vw;
        margin: 1vw;
    }

    .close__chartIcon {
        margin: 1vw;
    }

    .chart__icon {
        top: 115vw;
    }

    .div__newCategory p {
        font-size: 3vw;
    }

    .selectors {
        line-height: 8vw;
    }

    .div__titleAndButtonResetApp {
        width: 90%;
    }

    .reset__buttonNo, .reset__buttonYes {
        font-size: 3.5vw;
    }

    .submit__data, .submit__budget, .new__categoryButton {
        width: 20vw;
        height: 5.5vw;
    }

    .select__activity {
        width: 35vw;
    }

    .expense__value {
        width: 45vw;
    }
    
}